* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    color: #f5f5f5;
    overflow: hidden;
    transition: 0.6s ease-out;
}
.navbar {
    top: 0;

    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size: 22px;
    margin-top: 20px;
    transition: 0.6s ease-out;
}

.navbar button{
    position: fixed;
    top: 0px;
    left: 0px;
    background: #f5f5f5;
    color: #F2AA4C;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 5vw;
    transition: 0.6s ease-out;
}


.navbar a {
    margin-top: 25px;
    margin-right: 5vw;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #f5f5f5;
    color: #F2AA4C;
    text-decoration: none;
    transition: 0.6s ease-out;
}

.container {
    position: relative;
    background: #F2AA4C;
    width: 50%;
    max-width: 400px;
    height: min-content;
    min-width: 300px;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    border: #f5f5f5;
    padding: 15px;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.search-box i {
    color: #F2AA4C;
    font-size: 20px;
    transition: 0.6s ease-out;
}

.search-box input{
    background: #f5f5f5;
    color: #F2AA4C;
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.6s ease-out;
}

.search-box button {
    background: #f5f5f5;
    color: #F2AA4C;
    font-size: 20px;
    transition: 0.6s ease-out;
}
.weather-not-found {
    text-align: center;
}

.weather-not-found i {
    display: inline-block;
    text-align: center;
    font-size: 200px;
}

.weather-not-found p {
    font-size: 20px;
}

.weather-found {
    display: flex;
    flex-direction: row;
}

.weather-box {
    text-align: center;
}

.weather-box i{
    font-size: 100px;
}

.weather-logo {
    height: 100px;
    padding: 20px;
}
.temperature {
    font-size: 100px;
}

.temp-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    font-size: 20px;
    height: min-content;
}

.humidity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: min-content;
}

.wind {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: min-content;
}